[defaults]
inventory=inventory/hosts.ini
remote_user=ansible
log_path = ./output/ansible.log
verbosity = 1
display_ok_hosts = true
stdout_callback = yaml
bin_ansible_callbacks = true
deprecation_warnings= false

[privilege_escalation]
Become        = true
Become_method = sudo
Become_user   = root
Become_ack_pass = false

[colors]
#highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
#unreachable = red
#ok = green
#changed = yellow
#diff_add = green
#diff_remove = red
#diff_lines = cyan